<div class="title-container">
  <h1>List of gigs happening</h1>
  <%= link_to "About", about_james_path, class: "btn btn-warning" %>
    <%= link_to 'Artists', artists_path, class: "btn btn-secondary" %>
