<div class="title-container">
  <h1>About James</h1>
    <%= link_to 'Artists', artists_path, class: "btn btn-secondary" %>
</div>
<div class="card" style="width: 34rem;">
    <div class="card-body">
    <h5 class="card-title">James de Winton</h5>
    <p class="card-text">Junior Developer, loves to create random things in different langauge and loves to learn, I built this rails APi to help solidfy my knowledge with rails. Feel free to checkout my Linked In and my Github profiles. Having understood my passion in coding, I have recently completed a Coding course with Makers Academy to further attain hands-on experience, and to integrate my knowledge into applicative methods. Through the pursuit of professional development, I utilised my capabilities in API development, site replication and Agile work processes to deliver projects successfully as a cross-functional team member. Equipped with a broader understanding of technical languages and its purposes, I am now actively working toward my long-term goal of holding a senior full stack developer position at a top-tier organisation.

I hold skills that have been naturally progressive for me, such as my ability to communicate problems, conduct detailed research, and to work collaboratively in teams.

To connect with me and discuss further, I can be contacted at james.dewinton@gmail.com</p>
    <a href="#" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/james-d-124986136/'">Linked In</a>
    <a href="#" class="btn btn-primary" onclick="window.location.href='https://github.com/jamesdew12'">Github</a>
  </div>
</div>
